<a href="https://colab.research.google.com/github/MasaoMori/Tokyo-Ward-Assembly-Election/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('tips')

In [ ]:
ret = pd.crosstab(df['sex'],df['day'])
ret

In [ ]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
import numpy as np

te = df.pivot_table(index='day', columns='sex', aggfunc=np.mean, values='total_bill')

te.applymap('{:,.00f}'.format)

sex  Male Female
day
Thur   19     17
Fri    20     14
Sat    21     20
Sun    22     20

In [ ]:
選挙 = pd.read_excel('/content/選挙分析/区議会議員選挙過去データ.xlsx')
選挙

,年,区名,当落,得票数,氏名,よみ,年齢,性別,党派,新旧,主な肩書き,投票日,告知日,定数,候補者数,有権者数,投票率%,投票者数,得票率%
0,2011,目黒,当,3986.000,須藤 甚一郎,すどう じんいちろう,72,男,無所属,現,ジャーナリスト,2011-04-24,2011-04-17,35,55,213142,38.96,83040.1232,4.80
1,2011,目黒,当,2944.000,伊賀 保夫,いが やすお,33,男,みんな,新,会社役員,2011-04-24,2011-04-17,35,55,213142,38.96,83040.1232,3.55
2,2011,目黒,当,2230.000,広吉 敦子,ひろよし あつこ,46,女,目黒・生活者ネットワーク,新,ヨガインストラクター,2011-04-24,2011-04-17,35,55,213142,38.96,83040.1232,2.69
3,2011,目黒,当,2214.528,佐藤 昇,さとう のぼる,46,男,自民,現,酒販店経営,2011-04-24,2011-04-17,35,55,213142,38.96,83040.1232,2.67
4,2011,目黒,当,2205.000,小野瀬 康裕,おのせ やすひろ,39,男,自民,現,区議会議員,2011-04-24,2011-04-17,35,55,213142,38.96,83040.1232,2.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,2019,台東,落,1084.000,大浦 美鈴,おおうら みすず,58,女,自民,新,協会理事,2019-03-17,2015-03-10,32,41,160295,42.57,68237.5815,1.59
922,2019,台東,落,1021.000,高山 就造,たかやま しゅうぞう,30,男,自民,新,無職,2019-03-17,2015-03-10,32,41,160295,42.57,68237.5815,1.50
923,2019,台東,落,937.000,対馬 充彦,つしま みつひこ,39,男,自民,新,無職,2019-03-17,2015-03-10,32,41,160295,42.57,68237.5815,1.37
924,2019,台東,落,270.000,本城 淳,ほんじょう あつし,48,男,無所属,新,会社員,2019-03-17,2015-03-10,32,41,160295,42.57,68237.5815,0.40
925,2019,台東,落,129.000,[本人希望で削除],NaN,47,男,無所属,新,団体役員,2019-03-17,2015-03-10,32,41,160295,42.57,68237.5815,0.19

In [ ]:
pv = 選挙.pivot_table(index=['党派','年'], columns='区名', aggfunc=np.mean, values=['得票数'])
#pv[['自民','民主','立憲','国民','共産','社民']].applymap('{:,.00f}'.format)
v = pv.loc[['自民','民主','立憲','国民','共産','社民'],:].applymap('{:,.0f}'.format)
v

           得票数
区名          中央     台東     品川     大田     渋谷     目黒
党派 年
自民 2011  1,143  1,953  2,448  4,099  1,611  1,704
   2015  1,299  1,804  2,448  4,118  1,517  1,641
   2019  1,430  1,441  2,461  4,018  1,453  1,641
民主 2011  1,725  1,633  1,882  2,582  1,261  1,174
   2015  1,143  1,983  1,882  3,787  1,866  1,796
   2019    nan    nan    nan    nan    nan  1,796
立憲 2019  1,426  1,840  3,923  5,265  2,439    nan
国民 2019    485  1,554  1,601  1,968    603    nan
共産 2011    992  1,831  2,472  3,524  1,439  1,681
   2015  1,281  2,021  2,472  4,115  1,769  2,337
   2019  1,032  1,891  2,404  3,375  1,334  2,337
社民 2011    nan    418  1,115  1,527    nan  1,050
   2015    nan    652  1,115    nan    nan    950
   2019    nan    nan    nan    nan    nan    950